# Build artifacts
build
*.pyc
docs/generated
ess.egg-info
src/ess/_version.py

# IDE / Editor settings
.idea
.vscode
.vs

# Caches
.ipynb_checkpoints
.mypy_cache
.virtual_documents
__pycache__

# Data
*.h5
*.hdf5
*.nxs
*.ort

# Misc
*.log
